.userInfo {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: auto;
    height: 100%;
    margin-left: auto;
    z-index: 1;
    padding-right: 20px;
}

.userInfo span {
    font-family: 'Verdana', sans-serif; /* 'Verdana' și fallback pentru sans-serif */
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 0.04em;
    color: #212121;
}
  
/* Stiluri pentru butonul Exit */
.userInfo button {
all: unset; /* Îndepărtează stilurile implicite ale butonului */
cursor: pointer;
font-family: 'Verdana', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.04em;
color: #9B9FAA;

}

.userInfo button:hover {
color: #FC842D; /* Poți adăuga un hover effect dacă vrei */
}

.separatorSvg {
margin-top: -19px;
}