.sidebar {
    gap: 30px;
    display: flex;
    flex-direction: column;
    height:70%;
    width: 100%;
    background-color: #F0F1F3;
    padding-top: 230px;
}

.nonfood,
.localdate {
        font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: #212121;
    margin-bottom: 20px;
    padding-left: 130px;
}

/* Styling pentru lista de elemente */
.summary ul {
list-style: none;
padding-left: 150px;

}

/* Styling pentru fiecare item */
.summary .item {
display: flex;
justify-content: space-between;
margin-bottom: 10px;
width: 288px; /* Adăugați puțin spațiu între linii */
}

/* Alinierea etichetelor la stânga */
.summary .label {
text-align: left;
flex: 1;
}

/* Alinierea valorilor la dreapta */
.summary .value {
text-align: right;
flex: 1;
padding-left: 10px; /* Spațiu între eticheta și valoare */
}

span {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: #9B9FAA;
}

.nonproducts {
    font-family: 'Verdana';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.04em;
color: #9B9FAA;
padding-left: 90px;
}

